*{
	margin: 0;
	padding: 0;
}
.container{
	width: 420px;
	height: 400px;
	margin: 0 auto;
}
/*头部*/
.head{
	width: 236px;
	height: 187px;
	background: #000;
	border: 1px solid #000;
	border-top-left-radius: 117px 117px;
	border-top-right-radius: 117px 117px;
	border-bottom-left-radius: 117px 68px;
	border-bottom-right-radius: 117px 68px;
	position: relative;
}
/*左边眼睛*/
.head .left-eye{
	width: 46px;
	height: 68px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: 50px;
	left: 62px;
}
.head .left-eye .inner-left-eye{
	width: 20px;
	height: 26px;
	background: #000;
	border: 1px solid #000;
	border-radius: 50%;
	position: absolute;
	top: 20px;
	right: 5px;
}
.head .left-eye .inner-left-eye:after{
	content: "";
	width: 6px;
	height: 8px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: 8px;
	right: 2px;
}

/*右边眼睛*/
.head .right-eye{
	width: 46px;
	height: 68px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: 50px;
	left: 130px;
}
.head .right-eye .inner-right-eye{
	width: 18px;
	height: 20px;
	background: #000;
	border-top-left-radius: 50% 90%;
    border-top-right-radius: 50% 90%;
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
    box-shadow: 0 -1px 2px #000;
	position: absolute;
	top: 20px;
	left: 6px;
}
.head .right-eye .inner-right-eye:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 13px;
    bottom: -1px;
    left: 4px;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 35% 80%;
    background: #fff;
}
.fix {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #000;
    top: 17px;
}
.fix:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #000;
    top: 0;
    left: 14px;
}

/*嘴的上半部分*/
.mouth-top-container {
    position: absolute;
    width: 158px;
    height: 29px;
    z-index: 1;
    top: 120px;
    left: 39px;
    overflow: hidden;
}
.mouth-top{
	width: 158px;
    height: 34px;
   	z-index: 1;
    border: 1px solid #FFA600;
    background: #FFA600;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 45% 34px;
    border-top-right-radius: 45% 34px;
}
/*嘴的下半部分*/
.mouth-bottom-container {
    position: absolute;
    width: 158px;
    height: 15px;
    z-index: 1;
    top: 146px;
    left: 39px;
    overflow: hidden;
}
.mouth-bottom{
	width: 158px;
    height: 24px;
    z-index: 1;
    border: 1px solid #FFA600;
    background: #FFA600;
    border-top: none;
    position: absolute;
    top: -4px;
    left: 0;
    border-bottom-left-radius: 45% 24px;
    border-bottom-right-radius: 45% 24px;
    background-color: #FFA600;
}
/*嘴唇*/
.lips {
    border: 1px solid #FFA600;
    background: #FFA600;
    width: 116px;
    height: 24px;
    position: absolute;
    top: 146px;
    left: 60px;
    border-top: none;
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
}
/*嘴唇阴影*/
.lips-shadow-left{
	width: 0px;
    height: 0px;
    position: absolute;
    z-index: 2;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 8px solid black;
    -webkit-transform-origin: top right;
    -webkit-transform: rotate(-60deg);
    -moz-transform-origin: top right;
    -moz-transform: rotate(-60deg);
    -o-transform-origin: top right;
    -o-transform: rotate(-60deg);
    transform-origin: top right;
    transform: rotate(-60deg);
    left: -12px;
    top: 4px;
}
.lips-shadow-right{
	width: 0px;
    height: 0px;
    position: absolute;
    z-index: 2;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 8px solid black;
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: rotate(60deg) rotateY(180deg);
    -moz-transform: rotate(60deg) rotateY(180deg);
    -o-transform: rotate(60deg) rotateY(180deg);
    transform: rotate(60deg) rotateY(180deg);
    top: 4px;
	left: 114px;
}
